<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SPBT SEC Project</title>

    <!-- 공통 자바스크립트 시작 -->
<!--    <script src="/js/jquery/jquery-3.7.1.min.js"></script>-->
    <script src="/js/jquery/jquery-3.2.1.min.js"></script>
    <!-- 공통 자바스크립트 끝 -->

    <!-- 공통 CSS 시작 -->
    <!-- 공통 CSS 끝 -->

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>

</head>
<body id="bg">
<div th:replace="fragments/index/header::header"></div>

<div layout:fragment="content">

</div>
</body>
</html>