<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="kr">

<header class="mb-auto-custom" th:fragment="header">
    <div>
        <h3 class="float-md-start mb-0">SEC PROJECT</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="/main/board/list">Home</a>
<!--            <a class="nav-link" href="#">Board</a>-->
<!--            <a class="nav-link" href="#">Setting</a>-->
        </nav>
    </div>
</header>
</html>