<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/login/layout}" lang="ko">

<th:block layout:fragment="css">
   <link rel="stylesheet" href="/css/common/login/login.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap">
</th:block>

<th:block layout:fragment="script">
   <script src="/js/common/login/login.js"></script>
</th:block>

<main layout:fragment="content" >
   <div id="container" class="container">
      <!-- FORM SECTION -->
      <div class="row">
         <!-- SIGN UP -->
         <div class="col align-items-center flex-col sign-up">
            <form id="signUp-form" action="" method="post" th:object="${accountFormDto}" class="form-wrapper align-items-center">
               <div class="form sign-up">
                  <div class="input-field">
                     <i class='bx bxs-user'></i>
                     <input type="text" placeholder="User ID" th:field="*{userId}">
                  </div>
                  <div class="input-field">
                     <i class='bx bx-user-name'></i>
                     <input type="text" placeholder="Your Name" th:field="*{userName}">
                  </div>
                  <div class="input-field">
                     <i class='bx bx-mail-send'></i>
                     <input type="email" placeholder="Email" th:field="*{email}">
                  </div>
                  <div class="input-field">
                     <i class='bx bxs-lock-alt'></i>
                     <input type="password" placeholder="Password" th:field="*{userPw}">
                  </div>
                  <div class="input-field">
                     <i class='bx bxs-lock-alt'></i>
                     <input type="password" placeholder="Confirm password" id="confirmPw" name="confirmPw">
                  </div>

                  <div class="radio">
                     <input type="radio" id="role_1" name="role" value="ADMIN"/>
                     <label class="radio-check-label" for="role_1">ADMIN</label>
                     <input type="radio" id="role_2" name="role" value="USER"/>
                     <label class="radio-check-label" for="role_2">USER</label>
                  </div>

                  <button type="submit">
                     Sign up
                  </button>
                  <p>
                      <span>
                          이미 계정이 있으신가요?
                      </span>
                     <b onclick="toggle()" class="pointer">
                        로그인
                     </b>
                  </p>
               </div>
<!--               <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
            </form>

         </div>
         <!-- END SIGN UP -->
         <!-- SIGN IN -->
         <div class="col align-items-center flex-col sign-in">
            <form id="signIn-form" method="post" th:object="${accountFormDto}" class="form-wrapper align-items-center">
               <div class="form sign-in">
                  <div class="input-field">
                     <i class='bx bxs-user'></i>
                     <input type="text" placeholder="User ID" id="id-input" th:field="*{userId}">
                  </div>
                  <div class="input-field" id="passwd-field">
                     <i class='bx bxs-lock-alt'></i>
                     <input type="password" placeholder="Password" id="passwd-input" th:field="*{userPw}">
                     <input class="clear" type="text" placeholder="Password">
                     <button id="show-btn">
                        <svg viewBox="0 0 21 21">
                           <circle class="eye" cx="10.5" cy="10.5" r="2.25" />
                           <path class="top" d="M2 10.5C2 10.5 6.43686 5.5 10.5 5.5C14.5631 5.5 19 10.5 19 10.5" />
                           <path class="bottom" d="M2 10.5C2 10.5 6.43686 15.5 10.5 15.5C14.5631 15.5 19 10.5 19 10.5" />
                           <g class="lashes">
                              <path d="M10.5 15.5V18" />
                              <path d="M14.5 14.5L15.25 17" />
                              <path d="M6.5 14.5L5.75 17" />
                              <path d="M3.5 12.5L2 15" />
                              <path d="M17.5 12.5L19 15" />
                           </g>
                        </svg>
                     </button>
                  </div>
                  <button>
                     Sign in
                  </button>
                  <p>
							<span>
								계정이 필요하세요?
							</span>
                     <b onclick="toggle()" class="pointer">
                        회원가입
                     </b>
                  </p>
               </div>
<!--               <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
            </form>
            <div class="form-wrapper">

            </div>
         </div>
         <!-- END SIGN IN -->
      </div>
      <!-- END FORM SECTION -->
      <!-- CONTENT SECTION -->
      <div class="row content-row">
         <!-- SIGN IN CONTENT -->
         <div class="col align-items-center flex-col">
            <div class="text sign-in">
               <h2>
                  Please Sign In!
               </h2>

            </div>
            <div class="img sign-in">

            </div>
         </div>
         <!-- END SIGN IN CONTENT -->
         <!-- SIGN UP CONTENT -->
         <div class="col align-items-center flex-col">
            <div class="img sign-up">

            </div>
            <div class="text sign-up">
               <h2>
                  Sign Up!
               </h2>

            </div>
         </div>
         <!-- END SIGN UP CONTENT -->
      </div>
      <!-- END CONTENT SECTION -->
   </div>
</main>